.card-panel ul li{
  display: inline-block;
}

.container{
  align-items: center;
  justify-content: center;
  text-align: center;

}
.boxTitle{
  margin-bottom: 0;
  padding:0;
  display: inline;
}

#skills{
  background: #282c34;
  padding-bottom: 20vh;
}


#bilde{
  max-height: 6vh;
  max-width: 6vh;
  margin-left: 7vh;
}

#logoID{
  margin-top: 1vh;
}

#db{
  max-width: 5vh;
  max-height:5vh;
  margin-right: 2vh;
}
