.About{

}

#abouttxt{
  float: left !important;
  text-align: left;
  padding-bottom: 2vh;
}

#about{
  margin-top:4vh;
  padding: 0;
  height: 120vh;
  background: white;

}

#pbilde{
  max-width: 25vh;
  max-height: 25vh;
  margin-top: 10vh;
  margin-right: 10vh;
}
