.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
h3{
  color: white;
}
p {
  margin:0;
  font-size: calc(5px + 2vmin);
}
.nav{
  min-height: 8.5vh;
}

.nav-wrapper{
  background-color: #282c34 !important;
  padding-right: 25vh;
}
.App-header {
  background-color: #282c34;
  min-height: 91.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
#logo{
  height: 8.5vh;
  text-align:left;
  cursor: pointer;

}
#up a{
  right:5vh;
  bottom:5vh;
  color:white;
  /*position:fixed;*/
}

nav{
  text-align: left;
  height:8.5vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App-link {
  color: #61dafb;
}

.expand{
  vertical-align: bottom;
  outline: none;
  position: absolute;
  bottom: 4vh;
}

.material-icons{
  outline: none;
  cursor: pointer;
}

.float{
  float:right;
}

a{
  color:inherit;
}

#about{
  margin:0;
  padding-top:5vh;
  height: 100vh;
  background: red;
}
#title{
  padding-bottom: 20vh;
}

#skills{
  margin:0;
  padding-top:30vh;
  height: 100vh;
  background: blue;
}

#projects{
  margin:0;
  padding-top:30vh;
  height: 100vh;
  background: orange;
}

#quote{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  marging:0;
  padding:0;
}

#quoter{
  marging-top:0;
  padding:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}

/*disable all highlighting on page*/
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
