


html {
  scroll-behavior: smooth;
}
h3{
  color: white;
}
p {
  margin:0;
  font-size: calc(4px + 2vmin);
}
.medium a {
  text-decoration: none;

}

.background{
  background-image: url("./images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-size: cover;

}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title{
  font-size: 6vh;
  font-family: 'Lato', sans-serif;

  margin-bottom: 4vh;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button{
background-color: transparent;
border-radius:4px;
border-style: solid;
border-width: thin;
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 2vh;
padding: 3vh 5vh;
}

.button:hover{
  background-color: grey;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

.expand{
  /*vertical-align: bottom;*/
  outline: none;
  position: absolute;
  margin-top: 28vh;
}

.expand a{
  color:white;
}

.material-icons{
  outline: none;
  cursor: pointer;
}

.page-footer{
  background-color: grey;
  height: 7vh;
  margin:0;
  padding:0;
}

.row{
  margin-top: 5vh;
  padding:0;
}

#up a{
  right:5vh;
  bottom:5vh;
  color:black;
  /*position:fixed;*/
}
#quote{
  margin:0;
  padding:0;
  font-style:italic;
}

#space{
  margin-left: 1vh;
}

#logo:hover {
  transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    -webkit-transform: rotate(10deg)scale(1.1);;
    -moz-transform: rotate(10deg)scale(1.1);;
    -o-transform: rotate(10deg)scale(1.1);;
    -ms-transform: rotate(10deg)scale(1.1);;
    transform: rotate(10deg)scale(1.1);;


}
@media only screen and (max-width: 600px) {
  #logo{
    margin:2vh;
  }
}
#logo{
border-radius: 10px;
display: block;
position: fixed;
  transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
  height: 64px;
  text-align: left;
  cursor: pointer;
  margin: 5vh;
}

/*disable all highlighting on page*/
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
