/*FONTS
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/


html {
  scroll-behavior: smooth;
}
h3{
  color: white;
}

p {
  margin:0;
  font-size: calc(2px + 2vmin);
}

a{
  color:inherit;
}

nav{
  text-align: left;
  height:10vh;
  width: 100%;
  padding-top:100vh;

  padding: 0;

}
.background{
  background-image: url("./images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

}
.App {
  text-align: center;
}
nav {
  position: sticky;
  top: 0;
}

nav ul li a.current {
  background: black;
}
.nav-wrapper{
  background-color: #282c34 !important;
  padding-right: 25vh;
}
.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title{
  font-size: 6vh;
  margin-bottom: 4vh;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button{
background-color: transparent;
border-radius:4px;
border-style: solid;
border-width: thin;
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 2vh;
padding: 3vh 5vh;
}

.button:hover{
  background-color: grey;

}
.App-link {
  color: #61dafb;
}

.expand{
  vertical-align: bottom;
  outline: none;
  position: absolute;
  bottom: 4vh;
}

.material-icons{
  outline: none;
  cursor: pointer;
}


.page-footer{
  background-color: grey;
  height: 7vh;
  margin:0;
  padding:0;
}



.row{
  margin:0;
  padding:0;
}
#logo{
  height: 10vh;
  text-align:left;
  cursor: pointer;
}
#up a{
  right:5vh;
  bottom:5vh;
  color:black;
  /*position:fixed;*/
}
#quote{
  marging:0;
  padding:0;
  font-style:italic;
}



#abouttxt{
  float: left !important;
  text-align: left;
  padding-bottom: 2vh;
}
#space{
  margin-left: 1vh;
}


/*disable all highlighting on page*/
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
