
nav {
  z-index: 1;
  text-align: left;

}
nav ul li a.current {
  background: black;
}


.nav-wrapper{
  background-color: #282c34 !important;
  padding-right: 25vh;
}

nav ul{
  float:right;
}
#logo{
  height: 64px;
  text-align: left;
  cursor: pointer;
}
